
<main>
  <div class="random-menu-title">
    <h4 id="pull-down-button"><span>▼</span>おまかせメニュ〜<span>▼</span></h4>
  </div>
  <div class="random-menu">
    <div class="random-menu-terms hidden" id="random-menu">
      <%= form_with model: @list, url: random_lists_path, local: true do |f| %>
        <div class="random-menu-row">
          <%= f.label :category_id, 'カテゴリ' %>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: "全て"}, name:"recipe[category_id]" ) %>
        </div>
        <div class="random-menu-row">
          <%= f.label :genre_id_eq, 'ジャンル' %>
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {include_blank: "全て"}, name:"recipe[genre_id]") %>
        </div>
        <div class="random-menu-row">
          <%= f.label :type_id_eq, '気分' %>
          <%= f.collection_select(:type_id, Type.all, :id, :name, {include_blank: "なんでも"}, name:"recipe[type_id]") %>
        </div>
        <div class="random-menu-row">
          <%= f.label :date, '日付' %>
          <%= f.date_field :date, id: "random-menu-date" %>
        </div>
        <div class="attention">
          <p>※日付を指定しなければ一週間分作成できます</p> 
        </div>
        <div class="random-menu-submit">
          <%= f.submit '一週間おまかせ', id: "random-menu-submit" %>
        </div>
        <div class="random-menu-submit">
          <%= link_to "取り消し", weekly_destroy_lists_path, method: :delete %>
        </div>
      <% end %> 
    </div>
  </div>
  <div class="main-content">
    <% 7.times do |i| %>
    <div class="postit">
      <div class="postit-title"><%= "#{(@today + i).month}/#{(@today + i).day}#{@wdays[(@today + i).wday]}" %>
      </div>
        <div class="select-btns">
          <%= link_to "追加", new_list_path(date: (@today + i)) %>
        </div>
        <p class="line"></p>
        <% @lists.each do |list| %>
          <% if list.date == @today + i %>
            <% if list.recipe.source.blank? %>
              <div>
                <span class="category-name"><%= list.recipe.category.name %></span>
                <%= list.recipe.title %>
                ・・・<%= link_to "削除", list_path(list), method: :delete %>
                <p>最後に作った日：<%= @last_dates[list.recipe.id] %></p>
              </div>
            <% else %>
              <div>
                <span class="category-name"><%= list.recipe.category.name %></span>
                <%= link_to list.recipe.title, list.recipe.source, target: :_blank, rel: "noopener noreferrer" %>
                ・・・<%= link_to "削除", list_path(list), method: :delete %>
                <p>最後に作った日：<%= @last_dates[list.recipe.id] %></p>
              </div>
            <% end %>
          <%end%>
        <% end %>
    </div>
    <% end %>
  </div>
  <div class="bottom-wrapper">
  </div>
</main>

