
<main>
  <div class="select">
    <%= form_with model: @list, url: random_lists_path , id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="select-date">
        <%= f.date_field :date, class: 'date-select' %>
      </div>
      <div class="select-genre-btns">
        <div class="select-genre-btn">
        <%= f.label :category_id, 'カテゴリ' %>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: "全て"}, name:"recipe[category_id]" ) %>
        </div>
        <div class="select-genre-btn">
        <%= f.label :genre_id_eq, 'ジャンル' %>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {include_blank: "全て"}, name:"recipe[genre_id]") %>
        </div>
        <div class="select-genre-btn">
        <%= f.label :type_id_eq, 'タイプ' %>
        <%= f.collection_select(:type_id, Type.all, :id, :name, {include_blank: "全て"}, name:"recipe[type_id]") %>
        </div>
      </div>
      <div class="select-action">
        <%= f.submit 'おまかせ', class: "all-random" %>
        <%= link_to "全て削除", all_destroy_lists_path, {method: :delete, class: "all-random"} %>
      </div>
    <% end %>
  </div>
  <div class="main-content">
    <% 7.times do |i| %>
    <div class="postit">
      <div class="postit-title"><%= "#{(@today + i).month}/#{(@today + i).day}#{@wdays[(@today + i).wday]}" %>
      </div>
        <div class="select-btns">
          <%= link_to "追加", new_list_path(date: (@today + i)) %>
        </div>
        <p class="line"></p>
        <% @lists.each do |list| %>
          <% if list.date == @today + i %>
            <% if list.recipe.source.blank? %>
              <div>
                <span class="category-name"><%#= list.recipe.category.name %></span>
                <%= list.recipe.title %>
                ・・・<%= link_to "削除", list_path(list), method: :delete %>
              </div>
            <% else %>
              <div>
                <span class="category-name"><%#= list.recipe.category.name %></span>
                <%= link_to list.recipe.title, list.recipe.source, target: :_blank, rel: "noopener noreferrer" %>
                ・・・<%= link_to "削除", list_path(list), method: :delete %>
              </div>
            <% end %>
          <%end%>
        <% end %>
    </div>
    <% end %>
  </div>
  <div class="bottom-wrapper">
  </div>
</main>

