
<main>
  <div class="top-wrapper">
  </div>
  <div class="main-content">
    <div class="postit">
      <div class="postit-title">３／１６</div>
      <p><%= "ホイコーロー" %></p>
      <p><%= "URL" %></p>
      <p><%= "aaaa" %></p>
    </div>
    <div class="postit">
      <div class="postit-title">３／１６</div>
      <p><%= "ホイコーロー" %></p>
      <p><%= "URL" %></p>
      <p><%= "aaaa" %></p>
    </div>
    <div class="postit">
      <div class="postit-title">３／１６</div>
      <p><%= "ホイコーロー" %></p>
      <p><%= "URL" %></p>
      <p><%= "aaaa" %></p>
    </div>
    <div class="postit">
      <div class="postit-title">３／１６</div>
      <p><%= "ホイコーロー" %></p>
      <p><%= "URL" %></p>
      <p><%= "aaaa" %></p>
    </div>
  </div>
  <div class="bottom-wrapper">
  </div>
</main>

