<div class="user-main">
  <div class="search-content">
    <%= search_form_for @q, url: new_list_path do |f| %>
      <%= f.search_field :title_or_ingredients_name_cont, {placeholder: "レシピ名か食材名を入力して下さい", class: "search-text"} %>
      <%= f.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
  <div class="user-form">
    <div class="user-postit" id="user-postit">
      <div class="user-title">献立登録</div>
      <%= form_with model: @list, id: 'new_user', class: 'new_user', local: true do |f| %>
        <% @user_recipes.each do |user_recipe| %>
          <div class="search-recipe-btn">
            <div>
              <%= f.radio_button :recipe_id, user_recipe.id %>
              <%= f.label :recipe_id, user_recipe.title, value: user_recipe.id %>
            </div>
            <div class="last-dates">最後に作った日：<%= @last_dates[user_recipe.id] %></div>
          </div>
        <% end %>
        <input type="hidden" name="date" value="<%= @date %>">
      <div class="actions" id="actions">
        <%= f.submit "登録" %> 
      </div>
      <% end %>
    </div>
  </div>
</div>
