
<main>
  <div class="top-wrapper">
  </div>
  <div class="main-content">
    <% 7.times do |i| %>
    <div class="postit">
      <div class="postit-title"><%= "#{(@today+i).month}/#{(@today+i).day}" %>
      </div>
        <div class="select-btns">
          <%= link_to "選択", select_lists_path(date: (@today+i)) %>
          <%= link_to "おまかせ", "#" %>
          <%= link_to "削除", "#" %>
        </div>
        <p class="line"></p>
        <% @lists.each do |list| %>
          <% if list.date == @today + i %>
            <div>・<%= list.recipe.title %>・・・<%= link_to "削除", list_path(list), method: :delete %></div>
          <%end%>
        <% end %>
    </div>
    <% end %>
  </div>
  <div class="bottom-wrapper">
  </div>
</main>

