    <div class="postit">
      <div class="postit-title">
        <span class="fa fa-book"></span><%= recipe.title %>
      </div>
      <div class="recipe-btn">
        <p><%= link_to 'タイトルの編集', edit_recipe_path(recipe), {class: "recipe-edit"} %></p>
        <p><%= link_to '材料の追加', new_recipe_ingredient_path(recipe), {class: "recipe-edit"} %></p>
        <p><%= link_to 'レシピの削除', recipe_path(recipe), {method: :delete, class: "recipe-destroy"} %></p>
      </div>
      <p class="line">〜・〜・〜・〜・</p>
      <% if recipe.source != "" %>
        <p><%= link_to '参考URL', recipe.source, target: :_blank, rel: "noopener noreferrer" %></p>
      <% end %>
      <p>メイン食材</p>
      <% recipe.ingredients.each do |ingredient|%>
        
        
          <% if (ingredient.amount % 1 == 0) %>
           <p>・<%= "#{ingredient.name}…#{ingredient.amount.to_i}#{ingredient.unit.name}" %><%= link_to '修正', edit_recipe_ingredient_path(recipe, ingredient) %></p>
          <% else %>
            <p>・<%= "#{ingredient.name}…#{ingredient.amount}#{ingredient.unit.name}" %><%= link_to '修正', edit_recipe_ingredient_path(recipe, ingredient) %></p>
          <% end %>
           
        
      <% end %>
    </div>