<div class="user-main">
  <div class="user-form">
    <div class="user-postit">
      <div class="user-title">レシピ登録</div>
      <%= form_with model: @recipe, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :source, "参考URL(任意)" %>
        <%= f.email_field :source %>
      </div>

      <div class="actions">
        <%= f.submit "登録" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
