<div class="user-main">
  <div class="user-form">
    <div class="user-postit" id="user-postit">
      <div class="user-title">レシピ登録</div>
      <%= form_with model: @recipe_ingredient, url: recipes_path ,id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :source, "参考URL(任意)" %>
        <%= f.text_field :source %>
      </div>

      <div class="btn" id="btn">
        <input type="button" value="入力欄の追加はこちら" id="add-btn" class="add-btn"> 
        <input type="button" value="入力欄の削除はこちら" id="delete-btn" class="delete-btn"> 
      </div>
      
      <div class="ingredient">
        <div class="ingredient-name">
          <%= f.label :name, "メイン食材" %>
          <%= f.text_field :name, name:"[recipe_ingredient][name][]" %>
        </div>

        <div class="ingredient-amount">
          <%= f.label :amount, "分量(数字のみ)" %>
          <%= f.text_field :amount, name:"[recipe_ingredient][amount][]" %>
        </div>

        <div class="ingredient-unit">
          <%= f.label :unit_id, "単位" %>
          <%= f.collection_select(:unit_id, Unit.all, :id, :name, {}, {name:"[recipe_ingredient][unit_id][]"}) %>
        </div>
      </div>

      <div class="actions" id="actions">
        <%= f.submit "登録" %> 
      </div>
      <% end %>
    </div>
  </div>
</div>
