<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyLists</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1 class="header-title">
        <%= link_to "今週の献立", root_path, class: "title-logo" %>
      </h1>
      <nav class="header-nav">
        <ul class="header-btns">
          <% if user_signed_in? %>
            <li class="hedder-btn"><%= link_to 'フォルダ一覧', folders_path, local: true %></li>
            <li class="hedder-btn"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, local: true %></li>
            <li class="hedder-btn"><%= link_to 'レシピ登録', new_recipe_path, local: true %></li>
            <li class="hedder-btn"><%= link_to 'レシピ一覧', recipes_path, local: true %></li>
            <li class="hedder-btn"><%= link_to '買い物一覧', shopping_lists_path, local: true %></li>
          <% else %>
            <li class="hedder-btn"><%= link_to 'ログイン', new_user_session_path, local: true %></li>
            <li class="hedder-btn"><%= link_to '新規登録', new_user_registration_path, local: true %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <div class="flash">
      <% flash.each do |message_type, message| %>
        <p class="flash-message"><%= message %></p>
      <% end %>
    </div>
    <%= yield %>
    <% if user_signed_in? %>
      <%= link_to '今週の献立に戻る', root_path, local: true, class: "top_btn" %>
    <% end %>
    <footer>
    </footer>
  </body>
</html>
