<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyLists</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="header-title">
        <% if user_signed_in? %>
          <%= current_user.nickname %>
        <% end %>
        <a href="/" class="title-logo">My Lists</a>
      </h1>
      <nav class="header-nav">
        <ul class="header-btns">
          <% if user_signed_in? %>
            <li class="hedder-btn"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, local: true %></li>
            <li class="hedder-btn"><%= link_to 'レシピ登録', new_recipe_path, local: true %></li>
          <% else %>
            <li class="hedder-btn"><%= link_to 'ログイン', new_user_session_path, local: true %></li>
            <li class="hedder-btn"><%= link_to '新規登録', new_user_registration_path, local: true %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
